    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
    }

    html{
      scroll-behavior: smooth;
    }
    body{
      font-family:'Pretendard',sans-serif;
      background:#111;
      color:#fff;
      overflow-x:hidden;
    }

    ::selection{
      background:#fff;
      color:#000;
    }

    a{
      text-decoration:none;
      color:inherit;
    }

    ul{
      list-style:none;
    }

    img{
      width:100%;
      display:block;
    }